form {
    margin: 80px auto;
    padding: 20px;
    max-width: 500px;
    background: #FFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

form a {
    color: rgb(3, 3, 3);
    font-weight: bold;
    text-decoration: none;
    display: flex;
}


.usuario-insert input {
    background: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    color: dimgray;
}

.usuario-insert label {
    font-size: 16px;
    color: black;
    font-weight: bold;
}

button {
    background-color: black;
    color: white;
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 8px;
    font-family: Roboto;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.562);
}