.usuario-update input {
    background: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    color: dimgray;
}

.usuario-update label {
    font-size: 16px;
    color: black;
    font-weight: bold;
}