.usuario-delete {
    padding: 40px;
}

.usuario-delete label {
    font-size: 16px;
    color: black;
    font-weight: bold;
}

#deletar {
    margin: 80px auto;
    padding: 20px;
    max-width: 500px;
    background: #FFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

#deletar a {
    color: rgb(3, 3, 3);
    font-weight: bold;
    text-decoration: none;
    display: flex;
}

